NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://toryteler:toryteler@localhost:5433/toryteler_test
SESSION_SECRET=cambiar-por-una-cadena-de-32-caracteres-o-mas
PUBLIC_WEB_URL=http://localhost:3001

WOMPI_PUBLIC_KEY=pub_test_xxx
WOMPI_PRIVATE_KEY=prv_test_xxx
WOMPI_INTEGRITY_SECRET=test_integrity_xxx
WOMPI_EVENTS_SECRET=test_events_xxx
WOMPI_BASE_URL=https://sandbox.wompi.co/v1
WOMPI_CHECKOUT_URL=https://checkout.wompi.co/p/

CLOUDINARY_URL=cloudinary://key:secret@dtiuqixet
CF_STREAM_ACCOUNT_ID=xxx
CF_STREAM_TOKEN=xxx
RESEND_API_KEY=re_xxx
